<p class="pixel-font txt-white d-flex justify-content-center align-items-center flex-column about-box">
    <span>Hey EveryOne this is Timer Cosmos!, brought you another game this time multiplayer<br></span>
    <span>Any Developer concerns you want to share :<a href="https://www.linkedin.com/in/yasaswi-kanchibhotla-726600213/"> Linked In</a><br></span>
    <span>Appreciate your feed back<br></span>
    Gather some meat for some tasty adventure! <br>
    <button mat-stroked-button (click)="emitChosenOption('MainMenu')" class="MenuButton pixel-font">Go to Main Menu</button>
</p>