.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: auto;
  overflow: hidden;
  background-image: url("/assets/ChickenHuntBackGround.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}


.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.game-info{
  display: flex;
  flex-direction: column;
}

.pause-button{
  background-color: brown;
  color: white;
}

.pause-menu{
  background-color: greenyellow;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-over-menu{
  background-color: greenyellow;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}