<div class="d-flex flex-column gun-cursor">
    <button type="button" mat-stroked-button class="MenuButton pixel-font" (click)="startGame()">Start game</button>
    <button type="button" mat-stroked-button class="MenuButton pixel-font"
        (click)="emitChosenOption('Instructions')">Instructions</button>
    <button type="button" mat-stroked-button class="MenuButton pixel-font"
        (click)="emitChosenOption('About')">About</button>
</div>


@if(startingGame){
<div class="pop-up">
    <div class="startingGame pixel-font font-12">
        <div class="header">
            <span class="font-20">Chicken Hunt</span>
            <button class="close-button"></button>
        </div>
        @if(!hasRoom){
        <div class="role-chooser">
            <span>Choose your role!</span>
            <div class="roles">
                <button class="role-button hunter" matTooltip="Hunter" matTooltipPosition="above"></button>
                <button class="role-button gatherer" matTooltip="Gatherer" matTooltipPosition="above"></button>
            </div>
        </div>
        }
        <div class="room-chooser">
            @if(!hasRoom){
            <span>Your room code : {{code}} </span><br>
            <span>Already have a room? <button class="info-button" (click)="hasRoom = true">Yes</button><br></span>
            }@else {
                <span>
                    <label for="RoomCode">Enter your friends room code : </label>
                    <input class="code-input" title="Code" name="RoomCode"/>
                </span><br>
                <span>Create new Room? <button class="info-button" (click)="hasRoom = false">Yes</button></span>
            }
        </div><br>
        <div class="d-flex justify-content-center align-items-center">
            <button class="info-button" (click)="goToGame()">Start</button>
        </div>
    </div>
</div>
}