<div class="Instructions pixel-font p-2 d-flex justify-content-center align-items-center flex-column txt-white">
    <span class="m-2">This is a two player Game!, Start a game by sharing a code with your friend one is the hunter and the other is
        gatherer. </span>
    <span class="m-2">
        <span class="m-2">Hunter : </span><br>
        Shoots Chickens for eggs or meat to fall down
    </span>
    <span class="m-2">
        <span class="m-2">Gatherer :</span><br>
        Gathers fallen meat or eggs to collect rewards
    </span>
    Make Sure both the number of chickens hunted should be equal to meat or eggs gathered to play or you are
    chicken-Busted.

    <button mat-stroked-button (click)="emitChosenOption('MainMenu')" class="MenuButton pixel-font">Go to Main Menu</button>
</div>